In [2]:
import pandas as pd
import plotly.express as px

In [3]:
url = 'http://api.open-notify.org/iss-now.json'

In [4]:
print(url)

http://api.open-notify.org/iss-now.json

In [5]:
dataframe = pd.read_json(url)

In [6]:
dataframe

           iss_position  message           timestamp
latitude        21.8514  success 2021-05-12 05:47:37
longitude        4.8712  success 2021-05-12 05:47:37

In [7]:
#Changing order of Dataframe as per our need

In [8]:
dataframe['latitude'] = dataframe.loc['latitude','iss_position']
dataframe['longitude'] = dataframe.loc['longitude','iss_position']
dataframe.reset_index(inplace=True)